.card-home {
    border: none;
    font-family: 'Julius Sans One', sans-serif;
    cursor: pointer;
    border: none;
}
.card-home:hover{
    box-shadow: 9px 9px 11px 2px rgb(231, 170, 107);
    transition: 0.7s;
}

.titulo-card-home{
    font-size: 30px;
}

.glass-card {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #232b3a88;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-card:hover {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #232b3a88;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: rgb(231, 170, 107);
}