/* ESTILOS PARA LA LANDING  */
.header-style-home {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}

.background-home{
   background: url(../../assets/homealfajor.jpeg) no-repeat top center;    
}
.header-style-about {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}

.background-about{
   background: url(../../assets/nosotrosrisas.jpeg) no-repeat top center;

}

.header-style-productos {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}

.background-productos{
   background: url(../../assets/productosalfa.jpeg) no-repeat top center;

}
.header-style-contacto {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}

.background-contacto{
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1635353154/cocoMAD/new_local_tdjzzx.jpg) no-repeat top center;
}

.header-style-carrito {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 40vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}

.background-carrito{
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1632154710/cocoMAD/vidriococo_vugruo.jpg) no-repeat top center;
}


 .efecto-artesanal h1 {
    font-size: 90px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
   transition: 0.5s;

 }
 
 .efecto-artesanal h4 {
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
 }
 
 /* .efecto-artesanal {
    animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1);
   transition: 0.5s;

 } */
 
 @keyframes efecto-artesanal {
    0% {
       transform: translateY(450px);
    }
 }
 
 @media only screen and (max-width: 1050px) {
    .efecto-artesanal h1 {
       font-size: 30px;
    }
    .efecto-artesanal p {
       font-size: 15px;
    }
    @keyframes efecto-artesanal {
      0% {
         transform: translateY(200px);
      }
   }
 }

 .boton-down{
    border: none;
    background: none;
 }
 
 .boton-artesanal {
    background: none;
    padding: 10px;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0.25rem;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
    transition: 0.4s;
 }
 
 .boton-artesanal:hover {
    background: rgb(146, 210, 226);
    text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
    transition-duration: 0.5s;
    padding: 10px;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0.25rem;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
 }
 .circleArrow{
    border: none;
    color: whitesmoke;
    font-size: 3rem;
    padding: 0;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 2rem;
    /* animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1); */
 }
 .circleArrow:hover {
    color:rgb(146, 210, 226);
    box-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
 }
