/* ESTILOS PARA LA LANDING PPALES  */

.header-style- {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
   background: url(../../assets/homealfajor.jpeg) no-repeat top center;
}

.header-style-nosotros {
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
   background: url(../../assets/nosotrosrisas.jpeg) no-repeat top center;
}


.header-style-productos{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
   background: url(../../assets/productosalfa.jpeg) no-repeat top center;

}

.header-style-contacto{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1635353154/cocoMAD/new_local_tdjzzx.jpg) no-repeat top center;
}

/* Estilos para las landing Extras */
.header-style-carrito{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   transition: 0.5s;
   margin-bottom: 2rem;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}

.header-style-login{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   transition: 0.5s;
   margin-bottom: 2rem;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}
.header-style-register{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   transition: 0.5s;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}

.header-style-perfil{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   transition: 0.5s;
   margin-bottom: 2rem;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}

.header-style-detalle{
   background-size: cover !important;
   overflow: hidden;
   width: 100%;
   transition: 0.5s;
   margin-bottom: 2rem;
   background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}

/* Estilos para las admin board */
.header-style-productList{
   width: 100%;
}
.header-style-messageList{
   width: 100%;
}
.header-style-saleList{
   width: 100%;
}
.header-style-userList{
   width: 100%;
}


/* Efectos del DIV header  */
 .efecto-artesanal h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    padding: 2rem;
   transition: 0.5s;

 }
 
 
 /* .efecto-artesanal {
    animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1);
   transition: 0.5s;

 } */
 
 @keyframes efecto-artesanal {
    0% {
       transform: translateY(450px);
    }
 }
 
 @media only screen and (max-width: 1050px) {
    .efecto-artesanal h1 {
       font-size: 30px;
    }
    .efecto-artesanal p {
       font-size: 15px;
    }
    @keyframes efecto-artesanal {
      0% {
         transform: translateY(200px);
      }
   }
 }


