.header-style {
   background-size: cover !important;
   background-attachment: fixed;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   transition: 0.5s;
   margin-bottom: 3rem;
}
.background-home{
    background: url(../../assets/homealfajor.jpeg) no-repeat top center;
 
    
 }
.background-about{
   background: url(../../assets/nosotrosrisas.jpeg) no-repeat top center;

}
.background-productos{
   background: url(../../assets/productosalfa.jpeg) no-repeat top center;

}
.background-contacto{
   background: url(../../assets/contactenos.jpeg) no-repeat top center;

}
 .efecto-artesanal h1 {
    font-size: 90px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
   transition: 0.5s;

 }
 
 .efecto-artesanal h4 {
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
 }
 
 .efecto-artesanal {
    animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1);
   transition: 0.5s;

 }
 
 @keyframes efecto-artesanal {
    0% {
       transform: translateY(450px);
    }
 }
 
 @media only screen and (max-width: 1050px) {
    .efecto-artesanal h1 {
       font-size: 40px;
    }
    .efecto-artesanal p {
       font-size: 15px;
    }
    @keyframes efecto-artesanal {
      0% {
         transform: translateY(200px);
      }
   }
 }
 
 .boton-artesanal {
    background: none;
    padding: 10px;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0.25rem;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
    transition: 0.4s;
 }
 
 .boton-artesanal:hover {
    background: rgb(146, 210, 226);
    text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
    transition-duration: 0.5s;
    padding: 10px;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0.25rem;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
 }
 .circleArrow{
    border: none;
    color: whitesmoke;
    font-size: 3rem;
    padding: 0;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 2rem;
    animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1);
 }
 .circleArrow:hover {
    color:rgb(146, 210, 226);
    box-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
 }
