
body {
  box-sizing: border-box;
  margin: 0;
}

.footer-fix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* estilo de pag producto */
.navbar-productos {
  background-color: rgb(246, 181, 181);;
}

/* estilo de pag register */

.container-register {
  background-image: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1637253794/cocoMAD/coco_logo_t6ln4i.jpg);
  background-size: cover;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: whitesmoke;
  font-family: 'Julius Sans One', sans-serif;
}
.form-register{
  font-family: 'Julius Sans One', sans-serif;
}

/* estilo de login */

.form-login{
  color: rgb(146, 210, 226);
  font-family: 'Julius Sans One', sans-serif;
  border: solid rgb(146, 210, 226);
  }

.responsive-login-face {
  background-color: #3b5998;
  color: white;
  border: 1px solid #3b5998;
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 5px;
  transition: all 0.5s;
  
}
.responsive-login-face:hover {
  background-color: white;
  color: #3b5998;
}

.crea-cuenta a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 0%;
}
.crea-cuenta a:hover{
  color: rgb(146, 210, 226);
  font-weight: 900;
}


/* Estilo de pag home  */
.tarjetas {
  border: none;
  font-family: 'Julius Sans One', sans-serif;
}

.tarjetas h5 {
  font-family: 'Julius Sans One', sans-serif;
}

.tarjetas p {
  font-size: 20px;
}

/* estilo pag contacto */

.form-contacto {
  font-family: 'Julius Sans One', sans-serif;
  color: rgb(146, 210, 226);
  font-weight: 600;
}
.text-format {
  padding: 3rem;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}
.text-format h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
}
.text-format h5 {
  text-align: justify;
}
.text-format p {
  text-align: justify;
}

/* ESTILOS GENERALES */
.boton-artesanal {
  background: none;
  padding: 10px;
  color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 0.25rem;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
}

.boton-artesanal:hover {
  background: rgb(146, 210, 226);
  text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
  transition-duration: 0.5s;
  padding: 10px;
  color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 0.25rem;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
}

.boton-artesanal-cel {
  background: rgb(146, 210, 226);
  padding: 5px;
  color: whitesmoke;
  border-color: rgb(146, 210, 226);
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
}

.boton-artesanal-cel:hover {
  background: whitesmoke;
  transition-duration: 0.5s;
  padding: 5px;
  color: rgb(146, 210, 226);
  border-color: whitesmoke;
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
}

/* spinner */
.spinner-style {
  position:fixed;
  top: 50%;
  right: 48%;
  z-index: 2;
  color: #1d4683 !important;
}
.spinner-style .spinner-border {
  width: 4rem;
  height: 4rem;
}

.boton-down{
  border: none;
  background: none;
}

.circleArrow{
  border: none;
  color: whitesmoke;
  font-size: 3rem;
  padding: 0;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 2rem;
  /* animation: efecto-artesanal 2.2s cubic-bezier(0.77, 0, 0.7, 1); */
}
.circleArrow:hover {
  color:rgb(146, 210, 226);
  box-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
}