.apertura-title {
    font-family: 'Pattaya', sans-serif;
 }
 
 .links-contacto {
    list-style: none;
    font-family: 'Pattaya', sans-serif;
    font-size: 35px;
 }
 
 .links-contacto p {
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
 }
 
 @media only screen and (max-width: 800px) {
    .apertura-title {
       font-size: 20px;
    }
    .links-contacto p {
       font-size: 15px;
    }
 }